/* FONDO DEL DOCUMENTO */
body{
    margin: 10px;
    background-image: url("../img/Fondo_Virus_2.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    position: sticky;
    top: 0;
}


/*VENTANA DEL CONTENEDOR*/
.container{
    width: 800px;
    margin: 0 auto;
}

.enemy{
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    height: 20px;
    width: 700px;
    text-align: center;
}

/*ESTILO AL CUADRO CANVAS*/
#my_canvas{
    background: #000000;
    border: #000 1px solid;
}

/*ESTILO A LOS BOTONES*/
.boton{
    color: rgb(255, 255, 255);
    font-size: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);

}

/*EVENTO SOBRE EL RATON*/
.boton:hover{
    background-color: white;
    color: #000000;
}