<!DOCTYPE html>
<html lang="en">
  <head>

	{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hoja de vida</title>

    <link href="{% static 'Hoja_1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Hoja_1/css/style.css' %}" rel="stylesheet">
	
  </head>
  <body>

    <div class="container-fluid">
		<!--ROW PRINCIPAL-->
	<div id="sombras">
		<div class="row" >
			
			<!--ROW 1-->
			<div class="col-md-11">
				<br>
				<!--ROW 1.1-->
				<div class="row">
					<!--RELLENO-->
					<div class="col-md-1">
					</div>

					<div class="col-md-5" style="background-color:rgb(0, 149, 156);">
						<div class="col-md-12" > 
							<p></p>
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
				<!--ROW 2.1 -->
				<div class="row">
					<!--COLUMNA RELLENO-->
					<div class="col-md-1">
					</div>
		
					<!--COLUMNA DERECHA-->
					<div class="col-md-11">
						<br>
						<!--ROW 2.1-->
						<div class="row align-items-center">
							<div class="col-md-5">
								<img src="{% static 'Hoja_1/img/450_1000.jpg' %}" id="imagen_circular">
								<!--
									<img src="./img/450_1000.jpg" id="imagen_circular">
								-->
								
							</div>
							<div class="col-md-7" id="Fondo_Inicial">
								<h2>ALVARO PEDROZO</h2>
								<p>ESTUDIANTE DE INGENIERIA</p>
							</div>
						</div>
						
						
						<!--ROW 2.2-->
						<div class="row">
							<div class="col-md-5">
								<br>
								<h2>CONTACTO</h2>
								<!--IMAGENES 1-->
								<div class="row align-items-center">
									<div class="col-md-2 align-self-end">
										
										<img src="{% static 'Hoja_1/img/phonee.ico' %}" style="max-height: 40px; max-width: 40px;" />
										<!--
											<img src=".\img\phonee.ico" style="max-height: 40px; max-width: 40px;" />
										-->
									</div>
									<div class="col-md-10 align-self-center">
										<h6>Phone</h6>
										<h6>+57 3046559485</h6>
									</div>
								</div>

								<!--IMAGENES 1-->
								<div class="row align-items-center">
									<div class="col-md-2 align-self-center">
										<img src="{% static 'Hoja_1/img\email_blue_23344.ico' %}" style="max-height: 40px; max-width: 40px;" />
								
										<!--
											<img src=".\img\email_blue_23344.ico" style="max-height: 40px; max-width: 40px;" />
										-->
									</div>
									<div class="col-md-10 align-self-center">
										<h6>Email</h6>
										<h6>elitemaster@gmail.com</h6>
									</div>
								</div>
							</div>
							
							<div class="col-md-7">
								<br>
								<h3>PERFIL</h3>
								<p>Estudiante apasionado por la tecnologia, desarollo y programacion de aplicaciones de escritorio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum animi error neque? Sapiente asperiores quo aspernatur minima rerum vel praesentium. </p>
							</div>
							<!--LINEA DE DIVISION-->
							<div class="col-md-12" style="background-color:rgb(0, 149, 156);">
							</div>
						</div>
						<!--ROW 2.3-->
						<div class="row">
							<div class="col-md-5">
								<!--ROW SUB 1-->
								<div class="row">
									<div class="col-md-12">
										<br>
										<h4>REDES SOCIALES</h4>					
									</div>
								</div>
								<!--ROW SUB 2-->
								<div class="row align-items-center">
									<div class="col-md-12">
										<!--Sub Row 1-->
										<div class="row">
											<div class="col-md-2 align-self-star">
												<img src="{% static 'Hoja_1/img/5293-facebook_102565.ico' %}" style="max-height: 30px; max-width: 30px;"/>
												<!--
													<img src=".\img\5293-facebook_102565.ico" style="max-height: 30px; max-width: 30px;"/>
												-->
											</div>
											<div class="col-md-10 align-self-star">
												<h6>Facebook</h6>
												<h6>@LaPata</h6>
											</div>
										</div>
										<!--Sub Row 2-->
										<div class="row">
											<div class="col-md-2 align-self-star">
												
												<img src="{% static 'Hoja_1/img/Twitter_icon-icons.com_66803.ico' %}" style="max-height: 30px; max-width: 30px;"/>
												<!--
													<img src=".\img\Twitter_icon-icons.com_66803.ico" style="max-height: 30px; max-width: 30px;"/>
												-->
											</div>
											<div class="col-md-10 align-self-star">
												<h6>Twitter</h6>
												<h6>@LaPataSalta</h6>
											</div>
										</div>
										<!--Sub Row 3-->
										<div class="row">
											<div class="col-md-2 align-self-star">
												
												<img src="{% static 'Hoja_1/img/instagram_f_icon-icons.com_65485.ico' %}" style="max-height: 30px; max-width: 30px;"/>
												<!--
													<img src=".\img\instagram_f_icon-icons.com_65485.ico" style="max-height: 30px; max-width: 30px;"/>
												-->
											</div>
											<div class="col-md-10 align-self-star">
												<h6>Instagram</h6>
												<h6>@LaPataDejoDeSaltar</h6>
											</div>
											
											<div class="col-md-12" style="background-color:rgb(0, 149, 156);"></div>
											
											<div class="row align-items-center">
												
												<h4>IDIOMAS</h4>
												<div class="col-md-12 align-self-star">
													
													<h5>° SPANISH</h5>
													<h6 id="Fondo_Texto">NATIVE</h6>
													<br><br><br><br><br><br><br>
		
												</div>
											</div>

											<div class="col-md-12" style="background-color:rgb(0, 149, 156);"></div>

										</div>
									</div>
								</div>
							</div>
							<!--COLUMNA DERECHA-->
							<div class="col-md-7">
								<br>
								<h4>EXPERIENCIA LABORAL</h4>
									<!--Sub Row 1-->
									<div class="row">
										<div class="col-md-12 align-self-star">
											<h5>JOB POSITION</h5>
											<h6 id="Fondo_Texto">COMPANY NAME 2020|2021</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
													
									</div>
									<!--Sub Row 2-->
									<div class="row">
										<div class="col-md-12 align-self-star">
											<h5>JOB POSITION</h5>
											<h6 id="Fondo_Texto">COMPANY NAME 2020|2021</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non
											proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
													
									</div>
									<!--Sub Row 3-->
									<div class="row">
										<div class="col-md-12 align-self-start">
											<h5>JOB POSITION</h5>
											<h6 id="Fondo_Texto">COMPANY NAME 2020|2021</h6>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
												cillum dolore eu fugiat nulla pariatur. </p>
										</div>		
									</div>
									
							</div>
						</div>
						<!--ROW 2.4-->
						<div class="row">
							<div class="col-md-5">
								<h4>HABILIDADES</h4>
								<h6>° DARWING</h6>
								<div class="row">
									<div class="col-md-4" style="background-color: #1891a4;">
											<p></p>
									</div>
									<div class="col-md-8" style="background-color: gainsboro;">
											<p></p>
									</div>
								</div>
								<h6>° PHOTO</h6>
								<div class="row">
									<div class="col-md-2" style="background-color: #1891a4;">
											<p></p>
									</div>
									<div class="col-md-10" style="background: gainsboro;">
											<p></p>
									</div>
								</div>
								<h6>° COPYWRITE</h6>
								<div class="row">
									<div class="col-md-7" style="background-color: #1891a4;">
											<p></p>
									</div>
									<div class="col-md-5" style="background: gainsboro;">
											<p></p>
									</div>
								</div>
								<h6>° COMPUTARIZE</h6>
								<div class="row">
									<div class="col-md-10" style="background-color: #1891a4;">
											<p></p>
									</div>
									<div class="col-md-2" style="background: gainsboro;">
											<p></p>
									</div>
								</div>
								<h6>° DESING</h6>
								<div class="row">
									<div class="col-md-8" style="background-color: #1891a4;"">
											<p></p>
									</div>
									<div class="col-md-4" style="background: gainsboro;">
											<p></p>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="col-md-12" style="background-color:rgb(0, 149, 156);"></div>
								
								<h4>FORMACION ACADEMICA</h4>
								<h5 id="Fondo_Texto">BACHILLER</h5>
								<h6>I.E.D. LICEO ARIGUANI 2016</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
								<h5 id="Fondo_Texto">PROFESIONAL</h5>
								<h6>UNIVERSIDAD DEL MAGDALENA 2024</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
				<!--RELLENO IZQUIERDA-->
				<div class="row">

					<div class="col-md-1"></div>

					<div class="col-md-8" style="background-color:rgb(0, 149, 156);">
						<div class="col-md-12" > 
							<p></p>
						</div>
					</div>
					<div class="col-md-3">
					</div>
				</div>
				<br>
			</div>


			<!--ROW 1.1-->
			<div class="col-md-1">
				<br>
				<div class="row" id="grid">
					<div class="col-md-12" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

	<script src="{% static 'Hoja_1/js/jquery.min.js' %}"></script>
	<script src="{% static 'Hoja_1/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Hoja_1/js/scripts.js' %}"></script>
	
  </body>
</html>